// heatmap.scss
.parent {
    display: flex;
    flex-direction: column;
    height: 100% // Use viewport height to stretch the parent container
  }
  
.slider-controls button {
    background-color: #4CAF50; // Green background
    border: none; // Remove the default border
    color: white; // White text
    padding: 10px 12px; // Add some padding
    text-align: center; // Center the text (or icon)
    text-decoration: none; // Remove the default underline
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; // Change the cursor when hovering over the button
    border-radius: 4px; // Round the corners of the button
  }
  
  button:hover {
    background-color: #45a049; // Change the background color when hovering over the button
  }
  
  
  .canvas {
    flex-grow: 1; // This will make the canvas take up all available space
  }
  
  .my-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    
  }
  .slider-controls {
    margin-top:10px;
    display: flex;
    align-items: center;
    gap: 10px; // Add some space between the slider and buttons
  }
  
.react-slider {
    width: 100%;
    height: 25px;
  
    .track {
      top: 10px;
      bottom: 10px;
      background: #ddd;
  
      &-1 {
        background: #f00;
      }
    }
  
    .thumb {
      width: 25px;
      height: 25px;
      background-color: #000;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }